<p>My Song </p>

<table>
    <tr>
        <th>Name:</th> 
        <th>Artist:</th> 
        <th>Song:</th> 
    </tr> 
        <% @songs.each do |song| %>
        <tr>
            <td><%= link_to song.name, song_path(song)%></td>
            <td><%= song.artist.name%></td>
            <td><%= song.genre.name%></td>
        </tr>
        <% end %>
</table>

 